<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bb{
            background-color: green;
            color: black;
            margin: auto;
            padding: 30px;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <div class="bb">
        <marquee behavior="alternate" direction="up">
        <h1>this is another response</h1>
    </marquee>
    </div>
</body>
</html>